<div [class]="class">
  <form
    class="flex items-center rounded-full border border-gray-300 bg-white px-4 py-2 shadow-sm"
    (submit)="onSearch(); $event.preventDefault()"
  >
    <i class="fas fa-search mr-2 text-gray-400"></i>

    <input
      type="text"
      [placeholder]="placeholderText"
      [value]="value"
      (input)="onInputChange($event)"
      class="flex-1 bg-transparent text-gray-700 placeholder-gray-400 outline-none"
    />

    <button type="submit" class="rounded-full bg-white px-3 py-1 text-2xl text-black transition">
      <i class="fas fa-circle-arrow-right shadow-md"></i>
    </button>
  </form>
</div>
