<div class="w-full max-w-2xl mx-auto mt-2">
  <form class="flex items-center bg-white border border-gray-300 rounded-full shadow-sm px-4 py-2">
    <!-- Search Icon -->
    <i class="fas fa-search text-gray-400 mr-2"></i>

    <!-- Input -->
    <input
      type="text"
      [placeholder]="[placeholderText()]"
      class="flex-1 outline-none bg-transparent text-gray-700 placeholder-gray-400"
    />

    <!-- Submit Button -->
    <button
      type="submit"
      class=" bg-white  text-white px-3 py-1 rounded-full text-2xl transition"
    >
          <i class="fas fa-circle-arrow-right text-black shadow-md "></i>
    
    </button>
  </form>
</div>
