<nav class="flex w-full items-center justify-around bg-white px-6 py-4 shadow-md">
  <!-- Logo -->
  <div class="text-2xl font-bold text-gray-800">
    <img
      src="assets/reticketed_logo_cropped.png"
      alt="Reticketed"
      class="h-8 w-auto"
      routerLink="/home"
    />
  </div>

  <!-- Desktop Nav -->
  <div class="hidden items-center space-x-6 md:flex">
    @for (link of navigationLinks(); track link.id) {
      <a
        [routerLink]="[link.path]"
        class="text-gray-600 transition hover:text-lg hover:text-black"
        >{{ link.name }}</a
      >
    }

    @if (!isLoggedIn()) {
      <app-primary-button
        [label]="'Login'"
        [class]="'rounded-xl bg-black px-4 py-2 text-white transition hover:shadow-lg'"
        (click)="onLoginClick()"
      >
      </app-primary-button>
    } @else {
      <!-- add avatar here ang settings-->
    }
  </div>

  <div class="md:hidden">
    @if (!isLoggedIn()) {
      <app-primary-button
        [label]="'Login'"
        [class]="'rounded-xl bg-black px-4 py-2 text-white transition hover:shadow-lg'"
        (click)="onLoginClick()"
      >
      </app-primary-button>
    } @else {
      <!-- add avatar here ang settings-->
    }
  </div>

  <!-- Mobile Menu Toggle -->
  <div class="md:hidden">
    <button (click)="toggleMobileMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-gray-800"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </div>
</nav>

<!-- Mobile Menu -->
<div *ngIf="mobileMenuOpen" class="flex flex-col items-center px-6 pb-4 md:hidden">
  @for (link of navigationLinks(); track link.id) {
    <a [routerLink]="[link.path]" class="block py-2 text-gray-700 hover:text-lg hover:text-black">{{
      link.name
    }}</a>
  }
</div>
